<% @animes.each do |anime| %>
    <%= anime.name%>
    <form action="/animes/<%= anime.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Delete">
    </form>
<% end %>
